// // /* You can add global styles to this file, and also import other style files */
//     // .last1{
//     //     margin-right: 50%;
//     //     border: 1px solid red;
//     //     min-height: 213%;
//     //     width: 46%;
//     //     margin-bottom: 1%;
//     //     margin-top: 2%;
//     // }
//     // .last2{
//     //     border: 1px solid red;
//     //     min-height: 200px;
//     //     width: 45%;
//     //     margin-left: 51%;
//     //     margin-top: -22%;
//     // }

    
// // <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
// // <div class="container" style="border:1px solid red; min-height: 300px;">
  
// //   <div class="row"> 
// //      <div class="col-sm-12">
// //         <div class="row">
// //              <div class="col-sm-10" style="text-align:left" ><h5>Ubersicht deiner Fahrshulen<span><i style="font-size:24px" class="fa">&#xf107;</i></span></h5> </div>
// //              <div class="col-sm-2" ><button style="background-color: rgba(12, 194, 173, 0.753);"><h6 style="color: white">Profivorschau</h6></button> </div>
// //              <div class="col-sm-11" style="text-align:right" ><h6 style="color: rgba(12, 194, 173, 0.753)">Profil bearbeitten</h6></div>
// //   <div class="row">
// //       <div class="col-sm-7"> Jede Fahrschule hat unterschiedliche Bedorfnisse an ein Obersichtlishes Dashboard. Aur diaser Seite findest
// //         eine Obersicht aller Funktionen and wertvolle Tipps
// //   </div> 
// //        <div class="col-sm-8">
// //          <div class="bainner">
// //            <img src="assets/img/a.png" class="float-left" alt="a"> 
// //         </div>
// //       </div>
// //         <div class="col-sm-3">
// //            <h5>Fahrshulen Achselpeter</h5>
          
// //                 <i class="fas fa-angle-down">StreBe 7 | 10135 Berlin</i>
// //                 <p>(030)51 6564 26</p>
// //                 <p>Achsel Peter Senior</p>
// //                 <p>achsel@peter.net</p>
// //                 <p>achelpetervollinfahrt.de</p>
// //                 </div>
// //             </div>
// //         </div>          
// //   </div>

// <h2 style=" text-align:start">Dashboard</h2>

// <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
// <div class="container" style="border:1px solid red; min-height: 300px;">
  
//   <div class="row"> 
//      <div class="col-sm-12">
//         <div class="row">
//              <div class="col-sm-10" style="text-align:left" ><h5>Ubersicht deiner Fahrshulen<span><i style="font-size:24px" class="fa">&#xf107;</i></span></h5> </div>
//              <div class="col-sm-2" ><button style="background-color: rgba(12, 194, 173, 0.753);"><h6 style="color: white">Profivorschau</h6></button> </div>
//              <div class="col-sm-11" style="text-align:right" ><h6 style="color: rgba(12, 194, 173, 0.753)">Profil bearbeitten</h6></div>
//   <div class="row">
//       <div class="col-sm-7 "> Jede Fahrschule hat unterschiedliche Bedorfnisse an ein Obersichtlishes Dashboard. Aur diaser Seite findest
//         eine Obersicht aller Funktionen and wertvolle Tipps
//   </div> 
//        <div class="col-sm-8">
//          <div class="bainner">
//            <img src="assets/img/a.png" class="float-left" alt="a"> 
//         </div>
//       </div>
//         <div class="col-sm-3">
//            <h5>Fahrshulen Achselpeter</h5>
          
//                 <p> <span><i class="fa fa-map-marker" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>      StreBe 7 | 10135 Berlin</p>
//                 <p><span><i class="fa fa-phone" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>     (030)51 6564 26</p>
//                 <p> <span><i class="fa fa-user" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>     Achsel Peter Senior</p>
//                 <p> <span><i class="fa fa-envelope" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>   achsel@peter.net</p>
//                 <p> <span><i class="fa fa-globe" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>    achelpetervollinfahrt.de</p>
//                  <p><img src="assets/img/india.png" class="float-left" width="6%" height="6%">
//                   <span><img src="assets/img/italy.png" class="float-left" width="5%" height="5%"></span>
//                   <span><img src="assets/img/direction.jpg  " class="float-left" width="5%" height="5%"></span></p>  
//               </div>
                
//             </div>
//         </div>          
//   </div>                                                      
  

//  <div class="container" style="border:1px solid red; min-height: 200px;">
//           <div class="row">
//                <div class="col-sm-6" style="text-align:left" ><h5> Verbesser dein Profil</h5></div>
//               <div class="col-sm-6" style="text-align:right" ><h6 style="color: rgba(8, 133, 133, 0.692)">Mehr Tipps anzeigen</h6></div>
//              <div class="row">
//                <div class="col-sm-3">
                     
//                 <h5>Lade hochwertige Bilder deiner Fahrschule hoch<span><i class="fa fa-remove"></i></span> </h5>
//                 <p>Aktuel nutzt du eines unsere Beispiel-bulder.
//                    Um mehr Verfrauen fur potenzielle
//                    Fahrschuler zu schaffen, empfehlen wirdir
//                    eigene Bilder hochzuladen!
//                    <button style="background-color: rgba(12, 194, 173, 0.753);"><h6 style="color: white">Profivorschau</h6></button>
//                 </p>
//                </div>
//                <div class="col-sm-3">
//                   <h5>Lade deine Kollegen zu drivEddy ein <span><i class="fa fa-remove"></i></span></h5>
//                   <p>Aktuel nutzt du eines unsere Beispiel-bulder.
//                      Um mehr Verfrauen fur potenzielle
//                      Fahrschuler zu schaffen, empfehlen wirdir
//                      eigene Bilder hochzuladen!
//                      <button style="background-color: rgba(12, 194, 173, 0.753);"><h6 style="color: white">Profivorschau</h6></button>
//                   </p>
//                </div>
//                <div class="col-sm-6">
//                   <h5>Eratelle Fuhrerscheinpakee mit Preiserparnis <span><i class="fa fa-remove"></i></span></h5>
//                   <p>Aktuel nutzt du eines unsere Beispiel-bulder.
//                      Um mehr Verfrauen fur potenzielle
//                      Fahrschuler zu schaffen, empfehlen wirdir
//                      eigene Bilder hochzuladen!
//                      <button class="btn btn-outline-primary" style="background-color:white"><h6 style="color:rgba(12, 194, 173, 0.753);">Profivorschau</h6></button>
//                      <!-- <button type="button" class="btn btn-outline-primary">Primary</button> -->
//                   </p>
//                </div>
//              </div>     
          
//               </div>
//       </div>          
                                                          

//   <div class="container" style="border:1px solid red; min-height: 200px; width: 50%">
//     <div class="row"> 
//     <div class="col-sm-6" style="text-align:left" ><h5> Stundenanfragen</h5></div>
//       <div class="col-sm-6" style="text-align:right" ><h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfagen<span><i style="font-size:24px" class="fa">&#xf107;</i></span></h6></div>
//       <table class="table table-bordered">
//           <thead>
//             <tr>
//                 <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%"><p><span class="color">Achisel</span>mochte mit<span class="color">Peter</span>um 12:00 Uhr eine<span class="color">Uberlandfahrt</span>machen </p></td>
//               </tr>
//             <tr>
//                 <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%"> <p><span class="color">Akash</span>mochte mit<span class="color">Peter</span>um 12:00 Uhr eine<span class="color">Uberlandfahrt</span>machen </p></td>
//               </tr>
//               <tr>
//                   <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%"> <p><span class="color">Veer</span>mochte mit<span class="color">Peter</span>um 12:00 Uhr eine<span class="color">Uberlandfahrt</span>machen </p></td>
//                 </tr>
//           </thead>
//           </table>
//     </div>                                                   
//     </div>
//     <div class="container" style="border:1px solid red; min-height: 200px; width: 50%">
//       <div class="row">  
//       <div class="col-sm-6" style="text-align:left" ><h5>Schuleranfragen</h5></div>
//         <div class="col-sm-6" style="text-align:right" ><h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfragen | All Produkte<span><i style="font-size:24px" class="fa">&#xf107;</i></span> </h6></div>
//         <table class="table table-bordered">
//             <thead>
//               <tr>
//                 <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
//                   <p><span class="color">Kailvin  Ray</span> mochte <span class="color1" >Kaisb A</span> Absulitversion </p></td>
//               </tr>
//               <tr>
//                   <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
//                     <p><span class="color">Ambikesh singh tomer</span> mochte <span class="color1"> Jai singh B</span> Absulitversion </p></td>
//                 </tr>
//                 <tr>
//                     <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
//                       <p><span class="color">jardy Jamesson</span> mochte enize <span class="color1" >Kaisb A </span> AbsulitversionWork </p></td>
//                   </tr>
//             </thead>
//             </table>   
      
//       </div>                                                
//       </div>
//     </div>
// </div>




//  <div class="row">
//  <div class="container" style="border:2px solid red; height: 3%; width: 45%">
//    <div class="row"> 
//     <div class="last"> 
//   <div class="col-sm-4" style="text-align:left" ><h5>Schuleranfragen</h5></div>
//     <div class="col-sm-12" style="text-align:right" ><h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfragen | All Produkte<span> 
//       <i style="font-size:24px" class="fa">&#xf107;</i></span> </h6></div>
//     <table class="table table-bordered">
//         <thead>
//           <tr>
//             <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
//                <p><span class="color">Achisel</span>hte eine<span class="color">Oberlandfact</span> mit<span class="color">Peter</span>um 12:00 Uhr  </p></td>
//           </tr>
//           <tr>
//               <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
//                 <p><span class="color">Peeter</span>hte eine<span class="color">BusniessOberlandfact</span> mit<span class="color">Peter</span>um 11:00 Uhr  </p></td>
//             </tr>
//             <tr>
//                 <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
//                   <p><span class="color">Achisel</span>hte eine<span class="color">Oberlandfact</span> mit<span class="color">Peter</span>um 09:00 Uhr  </p></td>
//               </tr>
//           <tr>
//               <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
//                 <p><span class="color">Achisel</span>hte eine<span class="color">Oberlandfact</span> mit<span class="color">Peter</span>um 08:00 Uhr  </p></td>
//             </tr>
//             <tr>
//                 <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
//                   <p><span class="color">Achisel</span>hte eine<span class="color">Oberlandfact</span> mit<span class="color">Peter</span>um 06:00 Uhr  </p></td>
//               </tr>
//         </thead>
//         </table> 
//         </div>  
//      </div> 
//  </div>
 
  
                                                 


//    <div class="container " style="border:2px solid red; height:1%; width: 45%">
//     <div class="row"> 
//     <div class="col-sm-4" style="text-align:left" ><h5>Schuleranfragen</h5></div>
//       <div class="col-sm-12" style="text-align:right" ><h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfragen | All Produkte<span>
//         <i style="font-size:24px" class="fa">&#xf107;</i></span> </h6></div>
//       <table class="table table-bordered">
//           <thead>
              
//             <tr>
//               <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
//                 <p><span class="color">Achisel</span>  Fortschrit</p><span><div class="progress" style="height:10px">
//                 <div class="progress-bar" style="width:60%;height:10px"></div></div></span><br>
//                 <div class="progress" style="height:10px">
//                   <div class="progress-bar" style="width:50%;height:10px;color: turquoise"></div></div></td>
//             </tr>
//             <tr>
//                 <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%"> <div class="progress" style="height:10px">
//                     <div class="progress-bar" style="width:80%;height:10px"></div>
//                   </div></td>
//               </tr>
//               <tr>
//                   <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%"> 
//                     <div class="progress" style="height:10px">
//                         <div class="progress-bar" style="width:90%;height:10px"></div>
//                       </div></td>
//                 </tr>
//                 <tr>
//                     <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
//                       <div class="progress" style="height:10px">
//                           <div class="progress-bar" style="width:60%;height:10px"></div>
//                         </div></td>
//                   </tr>
//                   <tr>
//                       <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
//                         <div class="progress" style="height:10px">
//                             <div class="progress-bar" style="width:40%;height:10px"></div>
//                           </div></td>
//                     </tr>
//           </thead>
//           </table>   
    
//     </div>                                                
//     </div>

//   </div> 
  




    

  
// <!-- <router-outlet></router-outlet> -->

// <!-- 
// <div class="container" style="border:2px solid red; height: 3%; width: 45%">
//   <div class="row">
//     <div class="col-sm-4" style="text-align:left"><h5>Schuleranfragen</h5>
//     <div class="row">
// <div class="col-sm-4">
//     <img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
// </div>
// <div class="col-sm-8">

// </div>
//     </div>
//     </div>





//    <div class="col-sm-8" style="text-align:right" ><h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfragen | All Produkte<span> 
//      <i style="font-size:24px" class="fa">&#xf107;</i></span> </h6></div>
  
    
//     </div> 
//   </div> -->