
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <h5>Celender</h5>
        </div>
        <div class="col-sm-6">
     <h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfragen | All Produkte<span> 
      <i style="font-size:24px" class="fa">&#xf107;</i></span> </h6>
        </div>
     </div>
     <div class="row">
         <div class="col-sm-6">
            <table class="table table-bordered">
                    <thead>
                      <tr>
                        <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
                           <p><span class="color">Achisel</span>hte eine<span class="color">Oberlandfact</span> mit<span class="color">Peter</span>um 12:00 Uhr  </p></td>
                      </tr>
                      <tr>
                          <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
                            <p><span class="color">Peeter</span>hte eine<span class="color">BusniessOberlandfact</span> mit<span class="color">Peter</span>um 11:00 Uhr  </p></td>
                        </tr>
                        <tr>
                            <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
                              <p><span class="color">Achisel</span>hte eine<span class="color">Oberlandfact</span> mit<span class="color">Peter</span>um 09:00 Uhr  </p></td>
                          </tr>
                      <tr>
                          <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
                            <p><span class="color">Achisel</span>hte eine<span class="color">Oberlandfact</span> mit<span class="color">Peter</span>um 08:00 Uhr  </p></td>
                        </tr>
                        <tr>
                            <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%">
                              <p><span class="color">Achisel</span>hte eine<span class="color">Oberlandfact</span> mit<span class="color">Peter</span>um 06:00 Uhr  </p></td>
                          </tr>
                    </thead>
                    </table> 
                    </div>  
                    <div class="col-sm-6">

                            <table class="table table-bordered">
                                    <thead>
                                        
                                      <tr>
                                        <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                                          <p><span class="color">Achisel</span>  Fortschrit</p><span><div class="progress" style="height:10px">
                                          <div class="progress-bar" style="width:60%;height:10px"></div></div></span><br>
                                          <div class="progress" style="height:10px">
                                            <div class="progress-bar" style="width:50%;height:10px;color: turquoise"></div></div></td>
                                      </tr>
                                      <tr>
                                          <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%"> <div class="progress" style="height:10px">
                                              <div class="progress-bar" style="width:80%;height:10px"></div>
                                            </div></td>
                                        </tr>
                                        <tr>
                                            <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%"> 
                                              <div class="progress" style="height:10px">
                                                  <div class="progress-bar" style="width:90%;height:10px"></div>
                                                </div></td>
                                          </tr>
                                          <tr>
                                              <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                                                <div class="progress" style="height:10px">
                                                    <div class="progress-bar" style="width:60%;height:10px"></div>
                                                  </div></td>
                                            </tr>
                                            <tr>
                                                <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                                                  <div class="progress" style="height:10px">
                                                      <div class="progress-bar" style="width:40%;height:10px"></div>
                                                    </div></td>
                                              </tr>
                                    </thead>
                                    </table>   

                    </div>
     </div>
</div>