<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <h5>Ubersicht deiner Fahrshulen <span><i style="font-size:24px" class="fa">&#xf107;</i></span></h5>
      <p> Jede Fahrschule hat unterschiedliche Bedorfnisse an ein Obersichtlishes Dashboard. Aur diaser Seite findest
    eine Obersicht aller Funktionen and wertvolle Tipps</p>
    <div class="row">
      <div class="col-sm-6">
          <img src="assets/img/a.png" class="float-left" alt="a" class="a">
      </div>
      <div class="col-sm-6">
       <h5>Fahrshulen Achselpeter</h5> 
       <p> <span><i class="fa fa-map-marker" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>      StreBe 7 | 10135 Berlin</p>
       <p><span><i class="fa fa-phone" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>     (030)51 6564 26</p>
       <p> <span><i class="fa fa-user" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>     Achsel Peter Senior</p>
       <p> <span><i class="fa fa-envelope" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>   achsel@peter.net</p>
       <p> <span><i class="fa fa-globe" style="font-size:25px;color:rgba(12, 194, 173, 0.753)"></i></span>    achelpetervollinfahrt.de</p>
        <p><img src="assets/img/india.png" class="float-left" width="20%" height="20%">
         <span><img src="assets/img/italy.png" class="float-left" width="15%" height="15%"></span>
         <span><img src="assets/img/direction.jpg  " class="float-left" width="15%" height="15%"></span></p>  

      </div>

    </div>
    </div>
          <div class="col-sm-6" >
    
        <button style="background-color: rgba(12, 194, 173, 0.753);"><h6 style="color: white">Profivorschau</h6></button>
        <h6 style="color: rgba(12, 194, 173, 0.753)">Profil bearbeitten</h6>
    
    </div>
  </div>
</div>
