<div class="container">
  <div class="row">
    <div class="col-sm-6"> <h5 style=" text-align:left">Verbesser dein Profile </h5></div>
     
   <div class="col-sm-6"> <h6 style=" color: rgba(24, 121, 248, 0.692)">Mehr Tipps anzeigen</h6></div> 
  </div>
<div class="row">
    <div class="col-sm-3">
        <h5>Lade hochwertige Bilder deiner Fahrschule hoch<span><i class="fa fa-remove"></i></span> </h5>
        <p>Aktuel nutzt du eines unsere Beispiel-bulder.
           Um mehr Verfrauen fur potenzielle
           Fahrschuler zu schaffen, empfehlen wirdir
           eigene Bilder hochzuladen!
           </p>
           <button style="background-color: rgba(12, 194, 173, 0.753);"><h6 style="color: white">Profivorschau</h6></button>
        
    </div>
    <div class="col-sm-3">
        <h5>Lade deine Kollegen zu drivEddy ein <span><i class="fa fa-remove"></i></span></h5>
        <p>Aktuel nutzt du eines unsere Beispiel-bulder.
           Um mehr Verfrauen fur potenzielle
           Fahrschuler zu schaffen, empfehlen wirdir
           eigene Bilder hochzuladen!
           </p>
           <button style="background-color: rgba(12, 194, 173, 0.753);"><h6 style="color: white">Profivorschau</h6></button>
        
    </div>
    <div class="col-sm-6">
        <h5>Eratelle Fuhrerscheinpakee mit Preiserparnis <span><i class="fa fa-remove"></i></span></h5>
        <p>Aktuel nutzt du eines unsere Beispiel-bulder.
           Um mehr Verfrauen fur potenzielle
           Fahrschuler zu schaffen, empfehlen wirdir
           eigene Bilder hochzuladen!
          </p>
           <button class="btn btn-outline-primary" style="background-color:white"><h6 style="color:rgba(12, 194, 173, 0.753);" class="bu">Profivorschau</h6></button>

        
    </div>
  </div>
</div>
