<!-- <div class="container">
  <div class="row">
    <h5>Schuleranfragen</h5>
    <h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfragen | All Produkte<span>
        <i style="font-size:24px" class="fa">&#xf107;</i></span> </h6>
      <div class="row">
  
        <table class="table table-bordered">
            <thead>
                
              <tr>
                <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                  <p><span class="color">Achisel</span>  Fortschrit</p><span><div class="progress" style="height:10px">
                  <div class="progress-bar" style="width:60%;height:10px"></div></div></span><br>
                  <div class="progress" style="height:10px">
                    <div class="progress-bar" style="width:50%;height:10px;color: turquoise"></div></div></td>
              </tr>
              <tr>
                  <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%"> <div class="progress" style="height:10px">
                      <div class="progress-bar" style="width:80%;height:10px"></div>
                    </div></td>
                </tr>
                <tr>
                    <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%"> 
                      <div class="progress" style="height:10px">
                          <div class="progress-bar" style="width:90%;height:10px"></div>
                        </div></td>
                  </tr>
                  <tr>
                      <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                        <div class="progress" style="height:10px">
                            <div class="progress-bar" style="width:60%;height:10px"></div>
                          </div></td>
                    </tr>
                    <tr>
                        <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                          <div class="progress" style="height:10px">
                              <div class="progress-bar" style="width:40%;height:10px"></div>
                            </div></td>
                      </tr>
            </thead>
            </table>   
</div>

  </div>
</div> -->
