<div class="container">
  <div class="row">
    <div class="col-sm-6">
    <h5>Stundenanfragen</h5> <h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfagen<span><i style="font-size:24px" class="fa">&#xf107;</i></span></h6>
    <table class="table table-bordered">
        <thead>
          <tr>
              <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%"><p><span class="color">Achisel</span>mochte mit<span class="color">Peter</span>um 12:00 Uhr eine<span class="color">Uberlandfahrt</span>machen </p></td>
            </tr>
          <tr>
              <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%"> <p><span class="color">Akash</span>mochte mit<span class="color">Peter</span>um 12:00 Uhr eine<span class="color">Uberlandfahrt</span>machen </p></td>
            </tr>
            <tr>
                <td><img src="assets/img/date.png" class="float-left" width="10%" height="10%"> <p><span class="color">Veer</span>mochte mit<span class="color">Peter</span>um 12:00 Uhr eine<span class="color">Uberlandfahrt</span>machen </p></td>
              </tr>
        </thead>
        </table>


    </div>

    <div class="col-sm-6">
        <h5>Schuleranfragen</h5>
        <h6 style="color: rgba(8, 133, 133, 0.692)">Alle Anfragen | All Produkte<span><i style="font-size:24px" class="fa">&#xf107;</i></span> </h6>
        <table class="table table-bordered">
            <thead>
              <tr>
                <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                  <p><span class="color">Kailvin  Ray</span> mochte <span class="color1" >Kaisb A</span> Absulitversion </p></td>
              </tr>
              <tr>
                  <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                    <p><span class="color">Ambikesh singh tomer</span> mochte <span class="color1"> Jai singh B</span> Absulitversion </p></td>
                </tr>
                <tr>
                    <td><img src="assets/img/boss.png" class="float-left" width="10%" height="10%">
                      <p><span class="color">jardy Jamesson</span> mochte enize <span class="color1" >Kaisb A </span> AbsulitversionWork </p></td>
                  </tr>
            </thead>
            </table>   
    </div>
  </div>
</div>
